[submodule "oh-my-zsh/.oh-my-zsh"]
	path = oh-my-zsh/.oh-my-zsh
	url = https://github.com/Tsaiqu/ohmyzsh.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Tsaiqu/kickstart.nvim.git
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/Tsaiqu/tpm.git
[submodule "tmux/.config/tmux/plugins/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
